<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Booking Appointment App</h2>

    <form action="" id="myForm">
        <label>User Name</label><br>
        <input type="text" id="name" name="name"><br>
        <label>Phone Number</label><br>
        <input type="text" id="phone" name="phone"><br>
        <label>Email</label><br>
        <input type="text" id="email" name="email"><br><br>
        <input type="submit" value="Submit">
    </form>

    <h2>Show Data</h2><br>
    <ul id="username"></ul>

   <script defer src="index.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.3/axios.min.js" integrity="sha512-JWQFV6OCC2o2x8x46YrEeFEQtzoNV++r9im8O8stv91YwHNykzIS2TbvAlFdeH0GVlpnyd79W0ZGmffcRi++Bw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>